.container{
 display: flex;
 justify-content: center;
 align-items: center;
 margin-top: 80px;
}
.hangman{
 border: 1px solid black;
 width: 400px;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 height: 400px;
}

ul{
 list-style-type: none;
 margin-top: 20px;
}

li a{
 text-decoration: none;
}

.containerr{
    display: none;
}

.container0{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.style{
 width: 20px;
 height: 10px;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: row;
 gap: 30px;
 margin-top: 30px;
}

.letters{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

.container2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container{
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
}